:root{
    --bs-primary-rgb: 94,59,238 !important;
    --bs-secondary-rgb: 245,252,255;
    --bs-success-rgb: 245,252,255;
    --bs-secondary-color: rgb(0,0,0) !important;
    --bs-body-color: #1C1E53 !important; 
}


body{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #282938;
    font-weight: bold;
}

#footer-on-contact-page{
    position: absolute;
    bottom: 0;
}

.button-contact-me{
    background-color: #FFFFFF;
    border: 1px solid #5E3BEE ;
    border-radius: 5.33px;
    padding: 14px 32px;
    font-family: 'Roboto', sans-serif;
    color: #5E3BEE;
}

.get-in-touch-button{
    background-color: #5E3BEE;
    color: #FFFFFF;
    border: 1px solid #5E3BEE;
    border-radius: 5.33px;
    padding: 15px 20px;
}

.em-text{
    color: #5E3BEE;
}

a {
    text-decoration-color: #5E3BEE !important;
    color: #000000 !important;
    text-decoration: underline;
    text-decoration-skip-ink: none; /* Prevents the underline from overlapping the descenders of letters */
    text-underline-offset: 15px; /* Adjust this value to increase or decrease the space between the text and the underline */
}

input, textarea {
    border: 1px solid #5E3BEE !important;
    
}

input:focus,textarea:focus,
input:active,textarea:active{
    box-shadow: 0 0 0 0.25rem rgba(94,59,238,.25) !important;
}

.footer{
    position: absolute;
    bottom: 0;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5E3BEE !important;
    --bs-btn-border-color: #5E3BEE !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5E3BEE !important;
    --bs-btn-hover-border-color: #5E3BEE !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5E3BEE !important;
    --bs-btn-active-border-color: #5E3BEE !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5E3BEE !important;
    --bs-btn-disabled-border-color: #5E3BEE !important;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}